{% extends 'store/cart_main.html' %}
{% load static %}
{% block content %}
	<style type="text/css">
		.fa-close:hover{
			color: #dc3545;
			transition: 200ms ease;
		}
	</style>
	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title">Shopping Cart</div>
					<div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
						<ul class="d-flex flex-row align-items-start justify-content-start text-center">
							<li><a href="#">Home</a></li>
							<li>Your Cart</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Cart -->

		<div class="cart_section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_container">
							
							<!-- Cart Bar -->
							<div class="cart_bar">
								<ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
									<li class="mr-auto">Product</li>
									<li>Inches</li>
									<li>Price</li>
									<li>Quantity</li>
									<li>Total</li>
								</ul>
							</div>

							<!-- Cart Items -->
							{% for item in items %}
							<div class="cart_items">
								<ul class="cart_items_list">

									<!-- Cart Item -->
									<li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
										<div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
											<!--
											<div><div class="product_number">{{item.id}}</div></div> -->
											<div><div class="product_image"><img src="{{item.product.imageURL}}" alt=""></div></div>
											<div class="product_name_container">
												<div class="product_name"><a href="product.html">{{item.product.name}}</a></div>											</div>
										</div>
										<div style="position: relative; left: 50px;" class="product_size product_text"><span>Inches: </span>{{item.product.inches}}</div>
										<div style="position: relative; left: 30px;" class="product_price product_text"><span>Price: </span>&#x20A6;{{item.product.price}}</div>
										<div style="position: relative; left: 40px;" class="product_quantity_container">
											<div class="product_quantity ml-lg-auto mr-lg-auto text-center">
												<span id="num"class="product_text product_num">{{item.quantity}}</span>
												<div class="qty_sub qty_button trans_200 text-center minus" data-product={{item.id}} data-action="minus"><span>-</span></div>
												<div class="qty_add qty_button trans_200 text-center plus" data-product={{item.id}} data-action="plus"><span>+</span></div>
											</div>
										</div>
										<div style="position: relative; left: 35px;" class="product_total product_text"><span>Total: </span>&#x20A6;{{item.get_total}}</div>
										<i style="position: relative; left: 40px; cursor: pointer; -webkit-appearance: button;" class="fa fa-close" data-product="{{item.id}}" data-action="remove"></i>

									</li>
								</ul>
							</div>
							{% endfor %}

							<!-- Cart Buttons -->
							<div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
								<div class="cart_buttons_inner ml-sm-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
									<form method="post" id="myForm">
										{% csrf_token %}
										<div style="position: relative; left: -20px;" class="button button_clear trans_200">
											<a style="color: white; cursor: pointer;  -webkit-appearance: button;" role="button">clear cart</a>
										</div>
									</form>
									<div class="button button_continue trans_200"><a href="{% url 'index' %}">continue shopping</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row cart_extra_row">
					<div class="col-lg-6">
						<div class="cart_extra cart_extra_1">
							<div class="cart_extra_content cart_extra_coupon">
								<div class="shipping">
									<div class="cart_extra_title">Shipping Method</div>
									<ul>
										<li class="shipping_option d-flex flex-row align-items-center justify-content-start">
											<label class="radio_container">
												<input type="radio" id="radio_2" name="shipping_radio" class="shipping_radio">
												<span class="radio_mark"></span>
												<span class="radio_text">Standard delivery</span>
											</label>
											<div class="shipping_price ml-auto">$1.99</div>
										</li>
										<li class="shipping_option d-flex flex-row align-items-center justify-content-start">
											<label class="radio_container">
												<input type="radio" id="radio_3" name="shipping_radio" class="shipping_radio" checked>
												<span class="radio_mark"></span>
												<span class="radio_text">Personal Pickup</span>
											</label>
											<div class="shipping_price ml-auto">Free</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 cart_extra_col">
						<div class="cart_extra cart_extra_2">
							<div class="cart_extra_content cart_extra_total">
								<div class="cart_extra_title">Cart Total</div>
								<ul class="cart_extra_total_list">
									{% if items %}
										{% for item in items %}
											<li class="d-flex flex-row align-items-center justify-content-start">
												<div class="cart_extra_total_title">Total Items</div>
												<div class="cart_extra_total_value ml-auto">{{item.order.get_cart_items}}</div>
											</li>
											<li class="d-flex flex-row align-items-center justify-content-start">
												<div class="cart_extra_total_title">Subtotal</div>
												<div class="cart_extra_total_value ml-auto">&#x20A6;{{item.order.get_cart_subtotal}}</div>
											</li>
										{% endfor %}
									{% else %}
											<li class="d-flex flex-row align-items-center justify-content-start">
												<div class="cart_extra_total_title">Total Items</div>
												<div class="cart_extra_total_value ml-auto">0</div>
											</li>
											<li class="d-flex flex-row align-items-center justify-content-start">
												<div class="cart_extra_total_title">Subtotal</div>
												<div class="cart_extra_total_value ml-auto">&#x20A6;0</div>
											</li>
									{% endif %}

									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Shipping</div>
										<div class="cart_extra_total_value ml-auto">Free</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Total</div>
										<div class="cart_extra_total_value ml-auto">$29.90</div>
									</li>
								</ul>
								<div class="checkout_button trans_200"><a href="{% url 'checkout' %}">proceed to checkout</a></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
	</div>
</div>
<script type="text/javascript">
	let button = document.getElementsByClassName('button_clear');
	var minus = document.getElementsByClassName('minus');
	var plus = document.getElementsByClassName('plus');
	
	for (let i = 0; i < button.length; i+=1){
		button[i].addEventListener('click', function() {
			document.getElementById("myForm").submit();
		})
	}

	//toggle + and -
	for ( let i = 0; i < minus.length; i+=1){

		minus[i].addEventListener('click', function() {

			document.getElementById('num').innerHTML = parseInt(document.getElementById('num').innerHTML) - 1


		})
	}


	for ( let i = 0; i < plus.length; i+=1){

		plus[i].addEventListener('click', function() {

			document.getElementById('num').innerHTML = parseInt(document.getElementById('num').innerHTML) + 1

		})
	}

	
</script>
{% endblock content %}