{% extends 'store/Account.html' %}

{% block title %}
HAIRESS GALLERY | Forgot password
{% endblock %}

{% load static %}

{% block content %}
		
		<style type="text/css">
			body{
				height: 110% !important;
			}
			html{
				height: 90% !important;
			}
			#content{
				top: 5% !important;
			}
			#signup{
				display: inline-block;
				border: 1px solid white;
				background-color: white;
				width: 53%;
				height: 250px;
				position: relative;
				top:80px;
				padding: 25px 20px 15px;
				text-align: center;
			}
			.signin{
				text-transform: uppercase;
				display: block;
				border: 1px solid #767676;
				border-bottom: 0px solid;
				float: right;
				font-style: normal;
				font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
				padding-top: 0px;
				padding-bottom: 17px;
				text-align: center;
				width: 303px;
				height: 50px; 
    			
			}
			h2{
				font-size: 14px;
				line-height: 1.7;
				letter-spacing: 2px;
				font-weight: 900;
    			margin-block-start: 0.83em;
			    margin-block-end: 0.83em;
			    margin-inline-start: 0px;
			    margin-inline-end: 0px;
			    display: block;
			}
			.signup{
				text-transform: uppercase;
				display: block;
				border-bottom: 1px solid  #767676;
				float: left;
				font-style: normal;
				font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
				padding-top: 0px;
				padding-bottom: 5px;
				text-align: center;
				width: 277px;
				position: relative;
				top: -51px;
    
			}
			.a-link{
				color: #767676;
			}
			.a-link:hover{
				border-bottom: 0!important;
			    color: rgba(228, 27, 27, 0.877);
			}
			h1{
				margin-bottom: 18px;
				margin-top: 18px;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 700; 
				font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
				letter-spacing: 2.3px;
				line-height: 1.2;
				text-align: center;
				font-style: normal;
				position: relative;
				top: 70px;
				left: 139px;

			}
			.f-set1{
				width: 100%;
				float: left;
				clear: both;
				color: #767676;
				min-width: 20%;
				margin-top: 25px;
				
				
			}
			label{
				    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
				    font-style: normal;
				    font-weight: 900;
				    font-size: 14px;
				    line-height: 1.7;
				    letter-spacing: .4px;
				    color: #767676;
				    letter-spacing: 2px;
				    position: relative;
					left: -126px;

			}
			fieldset{
				width: 100%;

			}
			input{
				    height: 35px;
				    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
				    font-style: normal;
				    font-weight: 400;
				    font-size: 14px;
				    line-height: 1.7;
				    letter-spacing: .4px;
				    width: 65%;
				    position: relative;
					left: 90px;
					border: 1px solid #767676;
					padding-left: 10px;
			}
			.f-set2{
				width: 100%;
				float: left;
				clear: both;
				color: #767676;
				min-width: 20%;
				margin-top: 25px;
				
				
			}
			#label{
					font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
				    font-style: normal;
				    font-weight: 900;
				    font-size: 14px;
				    line-height: 1.7;
				    letter-spacing: .4px;
				    color: #767676;
				    letter-spacing: 2px;
				    position: relative;
					left: -148px;
			}
			input[type=submit]{
				text-align: center;
				cursor: pointer;
				width: 55%;
				height: 45px;
				background-color: black;
				color: white;
				-webkit-appearance: button;
				position: relative;
				left: 120px;
				text-transform: uppercase;
			    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
			    font-style: normal;
			    font-weight: 700;
			    font-size: 16px;
			    line-height: 1.5;
			    letter-spacing: 2px;
			}
			input[type=submit]:hover{
				background-color: red;
				transition: 200ms ease;
			}
			#line{

			    position: relative;
			    display: inline-block;
			    position: relative;
			    top: 20px;
			    left: 130px;
			}
			hr{
				width: 45%;
				position: relative;
				top: -23px;
			}
			#hr{
				width: 45%;
				position: relative;
				float: right;
				top: 33px;
			}
			
		</style>

		<div id="signup">
			<form method="post">
				{% csrf_token %}
				<fieldset>
						<div class="f-set1">
								<label style="text-transform:uppercase">Email Address:</label>
								
								<input type="text" name="email" id="email">

								<span style="color: red;"><p>{{err}}</p></span>
						</div>
						<br>
						
						<div class="f-set2">
								<input class="click" type="submit"  name="input" value="Make New Password">
						</div>

				</fieldset>
			</form>
			

		</div>

		<script type="text/javascript">
			var click = document.getElementsByClassName('click');

			for ( let i = 0; i < click.length; i+=1){
				click[i].addEventListener('click', function(e){

					let email = document.getElementById('email').value;
					
					if (email == '')
					{
						document.getElementById('email').style.border = "1px solid red";
						e.preventDefault();
					}
					
				})
			}
		</script>

{% endblock %}